---
---

<!DOCTYPE html>
<html class="">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">

  <title>{{ site.data.settings.title }}</title>

  <link rel="stylesheet" href="assets/css/all.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  {% include analytics.html %}
</head>
<body>

  <div class="home-wrap">

  {% include header.html %}

    <div class="home-sections">

      <h3 id="about" class="bigger">Development Server</h3>
      <div class="blurb">
        <p> The following links are latest deployed examples of
        <strong>Chaise</strong> apps:</p>
        <ul>
        	<li><a href="/chaise/search/">Search</a></li>
          <li><a href="/chaise/record/#1/legacy:dataset/id=269">Record</a></li>
          <li><a href="/chaise/record-two/#1/legacy:dataset/id=269">Record2</a></li>
          <li><a href="https://synapse-dev.isrd.isi.edu/chaise/recordedit/#2/Zebrafish:Subject">RecordEdit</a></li>
          <li><a href="https://dev.isrd.isi.edu/~jchudy/chaise/recordset/#1/legacy:dataset/id::gt::100&id::lt::13000@sort(summary)">RecordSet</a></li>
          <li><a href="https://dev.rebuildingakidney.org/chaise/viewer/#1/rbk:image/id=46">Viewer</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/js/functions.js"></script>
-->
</body>
</html>
