<section class="section-about">

  <h3 id="about" class="bigger">About Us</h3>

  <div class="blurb">
    {{ site.data.settings.blurb | markdownify }}
  </div>
  <div class="about-content">

  <p>Work focuses on grid computing, information security, service-oriented architectures, knowledge engineering, and imaging and medical informatics. ISD also operates FaceBase, the leading national repository for online collaboration, sharing and analysis of craniofacial data and research.</p>

  <p>The division is led by Carl Kesselman, one of the fathers of Grid computing and the GLOBUS open-source toolbox. Informatics specialties include Grid computing, information security, service-oriented architectures, and imaging and medical informatics.</p>

  <p>Researchers work closely with ISI’s highly regarded artificial intelligence, networking and distributed systems experts, as well as with two of USC’s nationally ranked Viterbi School of Engineering units: the Daniel J. Epstein Department of Industrial and Systems Engineering, and the Department of Biomedical Engineering.</p>
  </div>

</section>
