<section class="section-projects">

  <h3 id="projects" class="bigger">Featured Projects</h3>

  <div class="projects-content">

		{% for project in site.data.settings.projects %}

			<div class="project-item">
				<figure>
				<img src="assets/img/projects/{{project.img}}" class="project-pic" width="100" alt="{{ project.name }}">
			  </figure>
        <div class="project-desc">
          <h4 class="project-name"><a href="{{ project.url }}">{{ project.name }}</a></h4>
  				<p class="project-blurb"><strong>{{ project.type }}</strong><br/>{{ project.description }}</p>
        </div>
			</div>

		{% endfor %}

	</div>

</section>
